.winWrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
  width: 100%;
  border-radius: 5px;
  height: 50px;
  margin-bottom: 2rem;
}
