.nav {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  padding: 1rem 2rem;
}

.playerWrapper {
  position: absolute;
  gap: 2rem;
  display: flex;
  align-items: center;
  right: 2rem;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .nav {
    flex-direction: column;
    justify-content: center;
  }

  .playerWrapper {
    right: 0;
    width: 100%;
    justify-content: center;
    margin-top: 0.5rem;
    position: relative;
  }
}
