.activeBallsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20%;
    top: 0;
    font-weight: bold;
}


@media screen and (max-width: 535px) {
    .activeBallsWrapper {
        right: 30%;
    }
}
