.linesWrapper {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

.linesGroup {
  display: flex;
  flex-direction: column;
}
