.holesWrapper {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.holeHtml {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;
}
