.riskModeWrapper {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 0;
  top: 0;
  z-index: 10;
}

.riskModeGroup {
  display: flex;
  flex-direction: column;
}
